*          text=auto
*.bat      text eol=crlf
*.json     text
*.md       text diff=markdown
*.py       text eol=lf diff=python
*.sh       text eol=lf
*.toml     text
*.yaml     text
*.yml      text
HEADER     text
LICENSE    text
pixi.lock  merge=binary linguist-language=YAML linguist-generated=true -diff
