# Miscellaneous
.DS_Store
*.log
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
$RECYCLE.BIN/
Thumbs.db
UserInterfaceState.xcuserstate

# Pixi
.pixi/*
!.pixi/config.toml

# Visual Studio Code
.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/
*.vsix

# Copilot
.github/copilot-instructions.md

